<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>VueJS do Jeito Ninja - Aula 8</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<main id="app">
    <h1>{{ titulo }}</h1>

    <ul>
        <li v-for="item in usuarios">{{item.nome | toUpperCase}}</li>
    </ul>
    <hr>
    <ul>
        <li v-for="item in usuarios">{{item.nome | truncate(5) }}</li>
    </ul>
</main>

<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            titulo: "Vuejs"
            ,usuarios: [
                {nome: 'john snow'}
                ,{nome: 'kingslayer' }
                ,{nome: 'hodor' }
            ]
        }
        ,filters:{
            toUpperCase(str){
                return str.toUpperCase();
            },
            truncate(str, size){
                if(str.length>size)
                    return str.substring(0,size)+'...';
                else
                    return str;

            }
        }
        ,methods: {
            enviar(){
                alert('Enviado!')
            }
        }
    });
</script>
</body>
</html>